@font-face {
	font-family: 'Fregat-regular';
	src: url('../fonts/Fregat/Fregat.eot');
	src: url('../fonts/Fregat/Fregat.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Fregat/Fregat.woff2') format('woff2'),
		url('../fonts/Fregat/Fregat.woff') format('woff'),
		url('../fonts/Fregat/Fregat.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fregat-bold';
	src: url('../fonts/Fregat/Fregat-Bold.eot');
	src: url('../fonts/Fregat/Fregat-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Fregat/Fregat-Bold.woff2') format('woff2'),
		url('../fonts/Fregat/Fregat-Bold.woff') format('woff'),
		url('../fonts/Fregat/Fregat-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}