/*   font / background colors   */

//$btn: ;        // 
$basic: #b8b8b8;          // Dark gray.
$color-1: #fff;           // White.
$color-2: #333333;        // Very dark gray.                 rgb(51,51,51)