meta(charset="UTF-8")
title Test
meta(name="description" content="")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
//- link(rel="shortcut icon" href="./img/fav.ico")
//- link(rel="stylesheet" href="./libs/bootstrap/css/bootstrap.min.css")
//- link(rel="stylesheet" href="./libs/WOW-master/animate.css")
//- link(rel="stylesheet" href="./libs/slick/slick.css")
//- link(rel="stylesheet" href="./libs/slick/slick-theme.css")
link(rel="stylesheet" href="css/style.css")