script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
//- script(src="./libs/bootstrap/js/bootstrap.min.js")
//- script(src="./libs/WOW-master/wow.min.js")
//- script(src="./libs/spincrement/jquery.spincrement.js")
//- script(src="./libs/slick/slick.min.js")
script(src="js/common.js")